/* Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.flexible {
    display: flex;
}


.container-60 {
    width: 60%;
    margin: 0 auto;
}




.debug {
    border: 2px dashed black;
}

.relat {
    position: relative;
}

.abso {
    position: absolute;
}

.fix {
    position: fixed;
}

.wrapped {
    flex-wrap: wrap;
}

.bc-darkgrey {
    background-color: rgb(32, 32, 32);
}

.juststart {
    justify-content: flex-start;
}

.justend {
    justify-content: flex-end;
}

.justbetween {
    justify-content: space-between;
}

.justcenter {
    justify-content: center;
}

.alicenter {
    align-items: center;
}

.ali-con-center {
    align-content: center;
}

.totalpadding-10 {
    padding: 10px;
}

.padding-inline-10 {
    padding: 0 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-50 {
    padding-top: 50px;
}

.bg-white {
    background-color: white;
}

.bg-lightblue {
    background-color: rgb(90, 179, 209);
}

.inline-block {
    display: inline-block;
}

.margin-10 {
    margin: 10px;
}


/* Elementi Main */


/* (?Perché non mi funziona mai il none sul text-decoration e il color white come classe a parte?) */

.clearnav {
    text-decoration: none;
    color: white;
}

/* .lefthead a, .righthead a{
    text-decoration: none;
} */

/* .underline-link{
    border-bottom: 2px solid black;
    
} */

/* .phantomline:hover .underlink */

.button-a {
    padding: 3px 6px;
    background-color: rgb(69, 69, 155);
    color: #fff;
}


.square-text {
    width: 40%;
}

.square-image {
    width: 60%;
}

.square-image img {
    width: 650px;
}

.square-text p {
    margin: 20px;
    padding-bottom: 30px;
}

.bottomhead div div h1 {
    margin: 30px 0;
}

p a {
    text-decoration: none;
}


.arrow {
    bottom: 10px;
    left: 20px;
}

.square-image img {
    bottom: -60px;
}