/* Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.flexible {
    display: flex;
}


.container-60 {
    width: 60%;
    margin: 0 auto;
}

.container-50 {
    width: 50%;
    margin: 0 auto;
}


.debug {
    border: 2px dashed black;
}

.relat {
    position: relative;
}

.abso {
    position: absolute;
}

.fix {
    position: fixed;
}

.wrapped {
    flex-wrap: wrap;
}

.bc-darkgrey {
    background-color: rgb(32, 32, 32);
}


.juststart {
    justify-content: flex-start;
}

.justend {
    justify-content: flex-end;
}

.justbetween {
    justify-content: space-between;
}

.justcenter {
    justify-content: center;
}

.alicenter {
    align-items: center;
}

.ali-con-center {
    align-content: center;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-inline-10 {
    padding: 0 10px;
}

.padding-inline-20 {
    padding: 0 20px;
}

.padding-inline-50 {
    padding: 50px 0;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-50 {
    padding-top: 50px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-80 {
    margin-top: 80px;
}

.padding-block-10 {
    padding: 10px 0;
}

.padding-block-20 {
    padding: 20px 0;
}

.padding-block-50 {
    padding: 50px 0;
}

.padding-block-70 {
    padding: 70px 0;
}

.padding-50 {
    padding: 50px;
}

.border {
    border: 1px solid black;
}

.inline-block {
    display: inline-block;
}

.margin-10 {
    margin: 10px;
}

.margin-block-20 {
    margin: 20px 0;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-inline-30 {
    margin: 0 30px;
}

.bg-white {
    background-color: white;
}

.bg-lightblue {
    background-color: rgb(90, 179, 209);
}

.text-decoration-on {
    text-decoration: underline;
    color: blue;
}

/* First Elements - Main */

.navhead {
    height: 80px;
    width: 100%;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}


.lefthead li:not(#logo):hover {
    border-bottom: 3px solid black;
}

.righthead li:not(#no-ul):hover {
    border-bottom: 3px solid black;
}


.button-a {
    padding: 3px 6px;
    background-color: rgb(69, 69, 155);
    color: #fff;
}

.button-b {
    padding: 2px 8px;
    background-color: rgb(69, 69, 155);
    color: #fff;
}

.button-c {
    padding: 5px 20px;
    background-color: #fff;
}

.lefthead li,
.righthead li {
    padding: 0 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

.lefthead li img {
    vertical-align: middle;
}


/* Bottom Header Elements */

.square-text {
    width: 40%;
}

.square-image {
    width: 60%;
}

.square-image img {
    width: 650px;
}

.square-text p {
    margin: 20px;
    padding-bottom: 30px;
}

.bottomhead div div h1 {
    margin: 30px 0;
    font-size: 4em;
}


.arrow {
    bottom: 10px;
    left: 20px;
}

.square-image img {
    bottom: -60px;
}

.second-title {
    font-size: 2em;
}

/* <!-- Second pard - Slides --> */

#radiobuttons {
    margin: 50px 0;
}

.slides div {
    flex-basis: 30%;
}



.slides div * {
    padding: 10px 10px;
}


/* da correggere il # firstlist */

#firstlist li::before {
    content: " ";
    font-size: 1em;
    color: black;
    list-style: none;
}

#firstlist li:nth-child(1)::before {
    content: "\f007";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

#firstlist li:nth-child(2)::before {
    content: "\f07b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

#firstlist li:nth-child(3)::before {
    content: "\f07b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

#firstlist li {
    left: 5px;
    font-size: small;
}

.firstcolumn .button-b {
    text-align: center;
}

.ultimopiano {
    margin-bottom: 40px;
    margin-top: 20px;
}

br {
    width: 40%;
    height: 1px;
    text-align: center;
    padding: 0 20px;
    margin: 0 20px;
}

.selling {
    margin: 50px auto;
}

.sellingbtn {
    top: 25px;
    right: 20px;
}

.sellingbtn span a {
    color: #fff;
}

.boximg {
    flex-basis: 60%;
}

.dropart {
    flex-basis: 40%;
}

.boximg img {
    width: 100%;
}

.lastcardsout h3 {
    margin-bottom: 30px;
}

.card {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.cardimg {
    height: 50%;
}

.cardtext {
    height: 50%;
}

.cardimg img {
    width: 100%;
}

.cardtext h3 {
    padding-bottom: 10px;
}

#lastphrase {
    margin-top: 120px;
}

#link-basic {
    text-decoration: underline;
    color: blue;
    padding-top: 30px;
}

.square {
    width: 50%;
    height: 50%;
    position: relative;
}

.square img {
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.squares-left,
.squares-right {
    width: 30vw;
    height: 30vw;
}



.squares-left div:nth-child(1) {
    background-color: rgb(162, 211, 155);
}

.squares-left div:nth-child(2) {
    background-color: rgb(97, 8, 43);
}

.squares-left div:nth-child(3) {
    background-color: rgb(0, 147, 206);
}

.squares-left div:nth-child(4) {
    background-color: rgb(255, 28, 28);
}

.squares-right div:nth-child(1) {
    background-color: rgb(213, 0, 31);
}

.squares-right div:nth-child(2) {
    background-color: rgb(180, 208, 231);
}

.squares-right div:nth-child(3) {
    background-color: rgb(13, 36, 129);
}

.squares-right div:nth-child(4) {
    background-color: rgb(255, 216, 48);
}

.overflow-central {
    background-color: rgb(245, 245, 245);
    width: 40vw;
    height: 30vw;
}

.overflow-central div img {
    width: 70%;
    padding-bottom: 30px;
}

.overflow-central div {
    height: 40%;
    width: 80%;
    padding: 30px 40px;
}

.undercards div section {
    width: calc(100% / 3);
}

.undercards {
    background-color: rgb(245, 245, 245);
}

.undercards div section h2 {
    font-size: 2rem;
}

.faq-container {
    margin-top: 100px;
}

.faq-container h2 {
    font-size: 2rem;
    padding-bottom: 40px;
}

.top-under {
    border-bottom: 1px solid rgb(87, 87, 163);
    border-top: 1px solid rgb(87, 87, 163);
}